<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SumAI</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
    <style>
        title {text-align: center;}
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        
        </style>
</head>

<body style="background-color:#add8e6;margin-top:0px;margin-left:0px;">
<div id="speechContainer">
    

    <h1>SumAI</h1>
    <h3>Smart Transcripts and Summaries </h3>
    <h1>Upload new File</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <br>
        <input type="submit" id="submitButton" value="Transcribe"/>
    </form>


    {% if transcript != "" %}
        <div id="speechTranscriptContainer">
            <h1>Transcript</h1>
            <p id="speechText">{{ transcript }}</p>
            <h1>Summarized</h1>
            <p id="summaryText">{{ summary_text }}</p>

        </div>
    {% endif %}

</div>

</body>
</html>